body{
    background-image:url("https://image.freepik.com/vector-gratis/fondo-abstracto-azul_1048-1511.jpg");
    font-family: Arial, Helvetica, sans-serif;
}
h1{
color: rgb(224, 245, 245);
font-size:3.5em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sumaColumna{
    max-width: 1000px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    padding: 10px;
    margin: 20px auto;
    border-radius: 3px;
    background-color: rgba(207, 250, 252, 0.616);
}
.sumaColumna .enunciado{
    /* text-transform: uppercase; */
    font-size: 1.8em;
    font-weight: bold;
    background-color: rgba(244, 250, 252, 0.63);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}
.sumaColumna .resultado{
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

.sumaColumna table, tr, td{
    border-collapse: collapse;
    border: none;
    padding:0em 0.5em;
}
.sumaColumna table .result{
border-top: 1px solid black;
}
.btnSuma {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #56e2f7 100%);
	background-color:#599bb3;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 17px;
	text-decoration:none;
	text-shadow:1px -2px 2px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #56e2f7 5%, #599bb3 100%);
	background-color:#56e2f7;
}
.btn:active {
	position:relative;
	top:1px;
}


.hide{
    display: none !important;
}
.lleva{
    color: rgb(182, 178, 178);
    font-size: 0.7em;
    font-weight: lighter;
    text-align: center;
}
