*{word-wrap: break-word }
body{
    background-image:url("https://image.freepik.com/vector-gratis/fondo-abstracto-azul_1048-1511.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
color:white;
/*background-color: rgb(11, 93, 139);
box-sizing: border-box;
width: 100%;
border: solid rgb(6, 18, 85) 10px;
padding: 5px;*/
font-size:3.5em;
/* text-decoration: overline; */
font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
h1 span{
    border-top: solid white 5px;
    border-bottom: solid white 5px;
    background-color: rgba(7, 10, 15, 0.3);

}
.sumaColumna{
    max-width: 1000px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    padding: 10px;
    margin: 20px auto;
    border-radius: 3px;
    background-color: rgba(207, 250, 252, 0.616);
}
.sumaColumna .enunciado{
    /* text-transform: uppercase; */
    font-size: 1.8em;
    font-weight: bold;
    font-style: oblique;
    background-color: rgba(244, 250, 252, 0.63);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}
.sumaColumna .resultado{
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.sumaColumna table, tr, td{
    border-collapse: collapse;
    border: none;
    padding:0em 0.5em;
}
.sumaColumna table .result{
border-top: 1px solid black;
}
.operacionesCombinadas{
    max-width: 1000px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    padding: 10px;
    margin: 20px auto;
    border-radius: 3px;
    background-color: rgba(207, 250, 252, 0.616);
}
.operacionesCombinadas{
    /* text-transform: uppercase; */
    font-size: 1.8em;
    font-weight: bold;
    font-style: oblique;
    background-color: rgba(244, 250, 252, 0.63);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
}
.operacionesCombinadas.resultado{
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.sumaColumna table, tr, td{
    border-collapse: collapse;
    border: none;
    padding:0em 0.5em;
}
.sumaColumna table .result{
border-top: 1px solid black;
}
.btnSuma {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #0e2949 5%, #5d7fac 100%);
	background-color:#133766;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 17px;
	text-decoration:none;
	text-shadow:1px -2px 2px #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #264a6b 5%, #6fa0d8 100%);
	background-color:#5a90ce;
}
.btn:active {
	position:relative;
	top:1px;
}


.hide{
    display: none !important;
}
.lleva{
    color: rgb(134, 130, 130);
    font-size: 0.7em;
    font-weight: lighter;
    text-align: center;
}
